.title-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title-layout {
  display: flex;
  flex-direction: column;
  font-size: 6em;
  letter-spacing: 4px;
  margin: 0 0 -10% 0;
  gap: 0;
}

.title-section img {
  width: 12%;
  height: 8%;
  object-fit: cover;
}
