.land-page {
  height: 100vh;
  background-image: url("../../assets/images/landpage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  align-items: stretch;
  display: flex;
}

.land-layout {
  align-content: center;
  justify-content: center;
  border: 1px red;
  margin: 0 10% 0 10%;
}
