.jules-layout {
  height: 100vh;
  background-image: url(../../assets/images/background-jules.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
}

.jules-layout .spec-section {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10%;
}

.jules-layout .specs {
  display: flex;
  flex-direction: row;
  padding: 20% 20% 10% 0;
  width: 100%;
  justify-content: space-between;
}

.jules-layout .size-specs {
  display: flex;
  flex-direction: column;
  gap: 100%;
}
.jules-layout .weight-specs {
  display: flex;
  flex-direction: column;
  gap: 100%;
}

.jules-layout .spec-photo {
  height: 100%;
  width: 70%;
  background-position: center center;
  background-size: cover;
  background-image: url(../../assets/images/Jules.png);
}

@media (max-width: 1280px) {
}

@media (max-width: 768px) {
  .jules-layout {
    flex-direction: column;
  }

  .jules-layout .spec-section {
    width: 100%;
    padding: 0%;
  }

  .jules-layout .specs {
    justify-content: space-around;
  }

  .jules-layout .spec-photo {
    width: 100%;
  }
}
