.jules-layout {
  height: 100vh;
  background-image: url(../../assets/images/background-jules.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.spec-section {
  height: 100%;
  width: 40%;
}

.spec-photo {
  height: 100%;
  width: 40%;
}
