.thibault-layout {
  height: 100vh;
  background-image: url(../../assets/images/background-thibault.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
}

.spec-section {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 8%;
  gap: 10%;
}

.specs {
  display: flex;
  flex-direction: row;
  gap: 100%;
}

.size-specs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 110%;
}
.weight-specs {
  display: flex;
  flex-direction: column;
  gap: 110%;
}

.spec-photo {
  height: 100%;
  width: 55%;
  background-position: center center;
  background-size: cover;
  background-image: url(../../assets/images/Jules.png);
}
