h1 {
  font-size: 14em;
  font-weight: 600;
  letter-spacing: 10px;
  text-shadow: 1px 1px 2px black;
  color: white;
  margin: 0 0 0 0;
}

h2 {
  font-weight: bold;
  font-size: 3em;
  letter-spacing: 6px;
  text-shadow: 1px 1px 2px black;
  font-weight: 300;
  color: white;
  margin: 0;
  padding: 0;
}

.home {
  margin-top: 15em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catch-phrase {
  font-size: 3em;
  letter-spacing: 5px;
  color: white;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 2px black;
}
