html {
  height: 100%;
}

body {
  background-image: url("../../assets/images/landpage.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.home {
}

.land-page {
  margin-top: 15em;
  margin-bottom: 25em;
}
