.spec-element-layout {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.spec-element-label {
  font-size: 2em;
  letter-spacing: 3px;
  overflow: hidden;
  white-space: nowrap;
  color: grey;
  margin: 0;
}

.spec-element-value {
  font-size: 6em;
  margin: 0;
}
