.spec-title-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.spec-title-layout {
  display: flex;
  flex-direction: column;
  font-size: 7em;
  letter-spacing: 4px;
}

.flag-layout {
  margin-bottom: 10%;
  width: 100px;
  height: auto;
}

.title-element {
  margin-top: -10%;
  margin-bottom: -10%;
  justify-content: flex-start;
}

.spec-title-section img {
  width: 40%;
  height: 40%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .spec-title-layout {
    flex-direction: row;
    font-size: 6em;
    gap: 4%;
    width: 100%;
    justify-content: center;
  }

  .flag-layout {
    align-self: center;
  }

  .flag-layout {
    z-index: -10;
    width: 100px; /* Set the desired width */
    height: auto; /* This will maintain the aspect ratio */
  }
}
