.betting {
  background-color: var(--background);
  margin: 0;
  height: 100vh;
}
.betting .title-section {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bet-bar-layout {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 0;
  margin-top: 0;
  justify-content: center;
}

.bet-names-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 40px;
}

.countdown-layout {
  display: flex;
  align-items: center;
}

.button-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.button-style {
  height: 50px;
  width: 150px;
}

.bet-names-style {
  color: var(--white);
  margin: 10vh 0 0 0;
}

@media (max-width: 768px) {
  .betting .title-section {
    margin-top: 20%;
  }

  .button-style {
    margin-top: 5%;
    margin-bottom: 20%;
  }
}
