.footer {
  height: 40vh;
  background-color: black;
  display: flex;
}

.footer-logo {
  width: 40%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5%;
  background-size: 120px;
  background-image: url(../../assets/images/Logo-Blanc.png);
}

.footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 10% 5% 10%;
}

.footer-pages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-page {
  display: flex;
  flex-direction: column;
}

.footer-page p {
  font-size: 1.25em;
  letter-spacing: 2.5px;
  margin: 5% 0 5% 0;
}

.footer-text {
  font-size: 1.25em;
  font-weight: lighter;
  letter-spacing: 2.5px;
  margin: 5% 0 5% 0;
}

@media (max-width: 768px) {
  .footer-logo {
    height: 100%;
    margin: 0;
    width: 100%;
    background-image: url(../../assets/images/Logo-Blanc.png);
  }

  .footer {
    height: 80vh;
    flex-direction: column;
  }

  .footer-pages {
    display: none;
  }
}
